﻿
@using Microsoft.AspNetCore.Components.QuickGrid
@using SuperStore.Core.Interfaces
@using SuperStore.Core.Models
@rendermode InteractiveServer

<h4>Leading Category Sales by Region and Season</h4>

@inject ISuperStoreInfoRepo _superStoreInfoJsonRepo

<div style="height:200px; width:800px">
    <div class="grid" tabindex="-1">
        <QuickGrid ItemsProvider="@itemsProvider" Virtualize="true">

            <PropertyColumn Property="@(c => c.Region)" />
            <PropertyColumn Property="@(c => c.Season)" />
            <PropertyColumn Property="@(c => c.Category)" />
            <PropertyColumn Property="@(c => c.SalesTotal)" />
        </QuickGrid>
    </div>
    <p>Total: <strong>@numResults results found</strong></p>
</div>

@code {

    GridItemsProvider<SuperStoreInfoSummary> itemsProvider;
    int numResults;

    protected override async Task OnInitializedAsync()
    {
        itemsProvider = async request =>
        {
            var superStoreSummaryInfoList = await _superStoreInfoJsonRepo.GetBestProductsLocationSeasonList();

            var superStoreSummaryInfoSortedList =
            superStoreSummaryInfoList.OrderBy(a => a.Region).ThenBy(b => b.Season).ToList();

            //superStoreSummaryInfoList.
            var result = GridItemsProviderResult.From(
           items: superStoreSummaryInfoSortedList,
           totalItemCount: superStoreSummaryInfoSortedList.Count);
            numResults = result.TotalItemCount;
            StateHasChanged();
            return result;
        };
    }

}
