﻿@page "/SampleStoreDataVirt"
@using Microsoft.AspNetCore.Components.QuickGrid
@using SuperStore.Core.Interfaces
@using SuperStore.Core.Models
<h3>SampleStoreData</h3>

@inject ISuperStoreInfoRepo  _superStoreInfoJsonRepo

<div class="grid" tabindex="-1">
    <QuickGrid ItemsProvider="@itemsProvider" Virtualize="true" @ref="grid">
        <PropertyColumn Title="Product name" Property="@(c => c.ProductName)" Sortable="true" InitialSortDirection="SortDirection.Ascending" IsDefaultSortColumn="true">
            <ColumnOptions>
                <div class="search-box">
                    <input type="search" autofocus @bind="nameSearch" @bind:event="oninput" placeholder="Product name..." />
                </div>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Title="Product Id" Property="@(c => c.ProductId)" Sortable="true" />
        <TemplateColumn Title="Start" SortBy="@marketingStartSort">
            @context.OrderDate.ToShortDateString()
        </TemplateColumn>
        <TemplateColumn Title="End" SortBy="@marketingEndSort">
            @context.ShipDate.ToShortDateString()
        </TemplateColumn>
        <PropertyColumn Title="Application/citation" Property="@(c => c.CustomerName)" Sortable="true" />
    </QuickGrid>
</div>

<div class="my-2">
    <div class="search-box inline-block mr-4 my-1">
        <input type="search" autofocus @bind="nameSearch" @bind:event="oninput" @bind:after="()=>grid.RefreshDataAsync()" placeholder="Product name..." />
    </div>

    <div class="inline-block my-1">
        Total: <strong>@numResults results found</strong>
    </div>
</div>




@code {
    QuickGrid<SuperStoreInfo>? grid;
    GridItemsProvider<SuperStoreInfo> itemsProvider;
    int numResults;
    string nameSearch;
    GridSort<SuperStoreInfo> marketingStartSort = GridSort<SuperStoreInfo>.ByAscending(x => x.OrderDate);
    GridSort<SuperStoreInfo> marketingEndSort = GridSort<SuperStoreInfo>.ByAscending(x => x.ShipDate);

    protected override async Task OnInitializedAsync()
    {
        itemsProvider = async request =>
        {

            int theTotalItemCount = 99;

            var superStoreInfoList = await _superStoreInfoJsonRepo.GetSuperStoreInfoList();
            var superStoreInfoListPartial = superStoreInfoList.Slice(1, theTotalItemCount);

           // var result = superStoreInfoList.Slice(1, theTotalItemCount).AsQueryable();

            var result = GridItemsProviderResult.From(
           items: superStoreInfoListPartial,
           totalItemCount: superStoreInfoListPartial.Count);

           // var result = await Data.GetDrugInfoAsync(request, nameSearch);

            // Separately display the item count
            // if (result.TotalItemCount != numResults && !request.CancellationToken.IsCancellationRequested)
            // {
            //     numResults = result.TotalItemCount;
            //     StateHasChanged();
            // }
            numResults = result.TotalItemCount;
            StateHasChanged();
            return result;
        };
       //  int theTotalItemCount = 77;

       //  var superStoreInfoList = await _superStoreInfoJsonRepo.GetSuperStoreInfoList();
       //  var superStoreInfoListPartial = superStoreInfoList.Slice(1, theTotalItemCount);

       //  // var result = superStoreInfoList.Slice(1, theTotalItemCount).AsQueryable();

       //  var result = GridItemsProviderResult.From(
       // items: superStoreInfoListPartial,
       // totalItemCount: superStoreInfoListPartial.Count);

       //  if (result.TotalItemCount != numResults && !request.CancellationToken.IsCancellationRequested)
       //  {
       //      numResults = result.TotalItemCount;
       //      StateHasChanged();
       //  }

       //  itemsProvider = result;

        // Define the GridItemsProvider. Its job is to convert QuickGrid's GridItemsProviderRequest into a query against
        // an arbitrary data soure. In this example, we need to translate query parameters into the particular URL format
        // supported by the external JSON API. It's only possible to perform whatever sorting/filtering/etc is supported
        // by the external API.
        // foodRecallProvider = async req =>
        // {
        //     var url = NavManager.GetUriWithQueryParameters("https://api.fda.gov/food/enforcement.json", new Dictionary<string, object?>
        //         {
        //         { "skip", req.StartIndex },
        //         { "limit", req.Count },
        //         });

        //     var response = await Http.GetFromJsonAsync<FoodRecallQueryResult>(url, req.CancellationToken);
        //     return GridItemsProviderResult.From(
        //         items: response!.Results,
        //         totalItemCount: response!.Meta.Results.Total);
        // };

        // // Display the number of results just for information. This is completely separate from the grid.
        // numResults = (await Http.GetFromJsonAsync<FoodRecallQueryResult>("https://api.fda.gov/food/enforcement.json"))!.Meta.Results.Total;
    }

    protected override void OnInitialized()
    {
        // itemsProvider = async request =>
        // {
             
        //     int theTotalItemCount = 77;

        //     var superStoreInfoList = await _superStoreInfoJsonRepo.GetSuperStoreInfoList();
        //     var superStoreInfoListPartial = superStoreInfoList.Slice(1, theTotalItemCount);

        //    // var result = superStoreInfoList.Slice(1, theTotalItemCount).AsQueryable();

        //     var result = GridItemsProviderResult.From(
        //    items: superStoreInfoListPartial,
        //    totalItemCount: superStoreInfoListPartial.Count);

        //    // var result = await Data.GetDrugInfoAsync(request, nameSearch);

        //     // Separately display the item count
        //     if (result.TotalItemCount != numResults && !request.CancellationToken.IsCancellationRequested)
        //     {
        //         numResults = result.TotalItemCount;
        //         StateHasChanged();
        //     }

        //     return result;
        // };
    }
}
 