﻿@page "/SampleStoreData"
@using Microsoft.AspNetCore.Components.QuickGrid
@using SuperStore.Core.Interfaces
@using SuperStore.Core.Models
<h3>SampleStoreData</h3>

@inject ISuperStoreInfoRepo  _superStoreInfoJsonRepo


 
    <div class="page-size-chooser">
        Items per page 1:
        <select @bind="@pagination.ItemsPerPage">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
        </select>
    </div>

    <div class="grid">
        <QuickGrid Items="@_superStoreInfoQry" Pagination="@pagination">
        <PropertyColumn Property="@(c => c.CustomerName)" Sortable="true" Class="country-name" />
        <PropertyColumn Property="@(c => c.OrderId)" Sortable="true" Align="Align.Right" /> 
    </QuickGrid>
    </div>
    
<Paginator State="@pagination" />
  

    @if (_superStoreInfoList != null)
    {
    @foreach (var superStoreInfoRec in _superStoreInfoList)
    {
        <div>
            superStoreInfoRec.CustomerName=@superStoreInfoRec.CustomerName
            ||||||||||
            superStoreInfoRec.OrderId=@superStoreInfoRec.OrderId

        </div>
    
    }

}
@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    List<SuperStoreInfo>? _superStoreInfoList;
    IQueryable<SuperStoreInfo>? _superStoreInfoQry;
    protected override async Task OnInitializedAsync()
    {
        var superStoreInfoList = await _superStoreInfoJsonRepo.GetSuperStoreInfoList();
        _superStoreInfoList = superStoreInfoList.Slice(1, 20);
        //return base.OnInitializedAsync();

        _superStoreInfoQry = superStoreInfoList.Slice(1, 20).AsQueryable();
    }
}
