﻿@* @using RadzenBlazorDemos.Data
@using RadzenBlazorDemos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inherits DbContextPage *@

@* @using Microsoft.EntityFrameworkCore *@

@page "/SampleStoreDataNew"
@using Radzen
@using Radzen.Blazor
@using SuperStore.Core.Interfaces
@using SuperStore.Core.Models
@inject ISuperStoreInfoRepo _superStoreInfoJsonRepo
<RadzenDataGrid Data="@_superStoreInfoList" TItem="SuperStoreInfo" AllowVirtualization="true" Style="height:400px"
                AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="SuperStoreInfo" Property="OrderID" Title="OrderID" />
        <RadzenDataGridColumn TItem="SuperStoreInfo" Property="CustomerId" Title="CustomerId" />
        <RadzenDataGridColumn TItem="SuperStoreInfo" Property="CustomerName" Title=" Customer Name" /> 
        <RadzenDataGridColumn TItem="SuperStoreInfo" Property="OrderDate" Title="OrderDate" />
        <RadzenDataGridColumn TItem="SuperStoreInfo" Property="ShipDate" Title="ShipDate" />
            <RadzenDataGridColumn TItem="SuperStoreInfo" Property="ShipDaShipModete" Title="ShipMode" />
             
    </Columns>
</RadzenDataGrid>

@code {
    IEnumerable<SuperStoreInfo>? _superStoreInfoList;

    protected override async Task OnInitializedAsync()
    {
       //await base.OnInitializedAsync();
         
        int theTotalItemCount = 100;
        var superStoreInfoList = await _superStoreInfoJsonRepo.GetSuperStoreInfoList();
        _superStoreInfoList = superStoreInfoList.Slice(1, theTotalItemCount);
    }
}