﻿@page "/TheSampleStoreData"
@using Microsoft.AspNetCore.Components.QuickGrid
@using SuperStore.Core.Interfaces
@using SuperStore.Core.Models
@rendermode InteractiveServer

@inject ISuperStoreInfoRepo  _superStoreInfoJsonRepo

<div style="height:200px; width:800px">
<LeadingSalesSummaryComp /> 
</div>

<br />
<br />
<h4>Sales Data</h4>
<div style="height:300px; width:2500px">
<div class="grid" tabindex="-1"  >
    <QuickGrid ItemsProvider="@itemsProvider" Virtualize="true"  >
            <PropertyColumn Title="Order Id" Property="@(c => c.OrderId)" Class="col-large-width" />
            <PropertyColumn Title="Order Date" Property="@(c => c.OrderDate)" />
            <PropertyColumn Property="@(c => c.ShipDate)" />
            <PropertyColumn Property="@(c => c.ShipMode)" />
            <PropertyColumn Property="@(c => c.CustomerId)" />
            <PropertyColumn Property="@(c => c.CustomerName)" /> 
            <PropertyColumn Property="@(c => c.Segment)" />
            <PropertyColumn Property="@(c => c.City)" />
            <PropertyColumn Property="@(c => c.State)" />
            <PropertyColumn Property="@(c => c.PostalCode)" />
            <PropertyColumn Property="@(c => c.Region)" />
            <PropertyColumn Property="@(c => c.Country)"  />
            <PropertyColumn Property="@(c => c.ProductId)" Class="col-large-width" />
              <PropertyColumn Property="@(c => c.ProductName)" Class="col-large-width"  /> 
            <PropertyColumn Property="@(c => c.Category)" />
            <PropertyColumn Property="@(c => c.SubCategory)" />
            <PropertyColumn Property="@(c => c.Sales)" />
            <PropertyColumn Property="@(c => c.Quantity)" />
            <PropertyColumn Property="@(c => c.Discount)" />
            <PropertyColumn Property="@(c => c.Profit)"   />
        </QuickGrid>
</div>
    <p>Total: <strong>@numResults results found</strong></p>
</div>
 

@code {
    GridItemsProvider<SuperStoreInfo> itemsProvider;
    int numResults;

    protected override async Task OnInitializedAsync()
    {
        itemsProvider = async request =>
        { 
            var superStoreInfoList = await _superStoreInfoJsonRepo.GetSuperStoreInfoList(); 

            var result = GridItemsProviderResult.From(
           items: superStoreInfoList,
           totalItemCount: superStoreInfoList.Count); 
            numResults = result.TotalItemCount;
            StateHasChanged();
            return result;
        };
    }
     
}
 