﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Super Store Sales</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
     @*    <div class="nav-item px-3">
            <NavLink class="nav-link" href="SampleStoreData">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SampleStoreData
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SampleStoreDataNew">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SampleStoreDataNew
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="QuickGridTest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> QuickGridTest
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtualized-table">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> virtualized-table
            </NavLink>
        </div>
         
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SampleStoreDataVirt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SampleStoreData Virt
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TheSampleStoreData">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sales Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TheSummarySampleStoreData">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sales Summary
            </NavLink>
        </div>

         
    </nav>
</div>

